/* --------------- GENERAL --------------- */
:root {
  --main-text: #757575;
  --white-text: #ffffff;
  --secondary-text: #212121;
  --accent: #2196f3;
  --logo-font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

img {
  display: block; /* need to clarify the reason why it is required */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  color: var(--main-text);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; /* need to clarify the reason why it is required */
  outline: 1px solid red;
}

/* --------------- MAIN PAGE --------------- */

/* --------------- HEADER --------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  color: var(--secondary-text);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo-blue {
  color: var(--accent);
}

/* header-nav */
.header-nav-link {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent);
}

.header-nav-link.current {
  color: var(--accent);
}

/* header-contacts */
.header-mail,
.header-tel {
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent);
}

/* --------------- MAIN --------------- */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent);
  color: var(--white-text);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.values {
  padding-top: 94px;
  padding-bottom: 94px;
}

.val-headline {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.services-title,
.team-title {
  color: var(--secondary-text);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.val-descr {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team-members-name {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-members-position {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------- FOOTER ---------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--white-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo {
  font-family: var(--logo-font);
  color: var(--white-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}

/* footer-contacts */
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: inline-block;
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent);
}

/* --------------- PORTFOLIO PAGE ---------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  margin-bottom: 50px;
}

.port-filter-btn {
  color: var(--secondary-text);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.port-filter-btn:hover,
.port-filter-btn:focus {
  color: var(--white-text);
  background-color: var(--accent);
}

.portfolio-item {
  background-color: #eeeeee;
}

.portfolio-item-name {
  color: var(--secondary-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio-item-service {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
